#header {

	nav {
		.box-shadow(0px, 5px, 30px);
		background: #2d2d2d;
		border-bottom: 1px solid #999;
	}

	ul {
		width: @site-width-highres;
		margin: 0 auto;

		li {
			line-height: 30px;
			display: inline-block;
			position: relative;
		}

		li a {
			//display: block;
			//width: 80px;
			text-align: center;
			color: #999;
			font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			padding: 0 10px;
		}

		// Active arrow

		li.on a:after {
			.rotate(45deg);
			display: block;
			width: 6px;
			height: 6px;
			background: #2d2d2d;
			border-bottom: 1px solid #999;
			border-right: 1px solid #999;
			margin: -3px 0 0 42%;
			z-index: 1;
			content: '';
			position: absolute;
			float: left;
		}


		// Account link
		li:first-child {
			float: right;

			a {
				width: auto;
				color: @c1-3;
				padding: 0;
			}

			.avatar {
				float: right;
				height: 20px;
				max-width: 25px;
				margin: 6px 0 0 8px;
				//vertical-align: middle;
			}
		}

		li#menu {
			float: right;

			a {
				width: 60px;
			}
		}

		li#site a {
			text-align: left;
			width: auto;
			padding: 0 10px 0 0;
			color: @c2-3;

			&:hover {
				color: #fff;
			}
		}

		li a:hover, li.on a {
			color: #ffffff;
			text-shadow: 0 0 2px #fff;
		}
	}

	@media (max-width: @desktop) {
		ul {
			width: @site-width-desktop;
		}
	}

	@media (max-width: @tablet) {
		ul {
			width: @site-width-tablet;

			// Compress navigation
			li#site a {
				padding: 0 5px 0 0;
			}

			li a {
				padding: 0 5px;
			}

			li:first-child a {
				padding: 0;
			}
		}
	}

	@media (max-width: @mobile) {
		ul {
			width: @site-width-phone;

			// Hide arrow (not enough space)
			li.on a:after {
				display: none;
			}
		}
	}
}