	<nav id="nav-primary">
		<ul>
			<li><a href="">Forums</a></li>
			<li><a href="">Search</a></li>
			<li><a href="">Members</a></li>
		</ul>
	</nav>
	<section>
		<nav id="nav-secondary">
			<ul>
				<li><a href="">List</a></li>
				<li><a href="">Statistics</a></li>
				<li><a href=">">Something</a></li>
				<li id="account">
<?php if(User::get('member_id')): ?>
					<div id="member-avatar">
						<img src="<?php echo Url::make('avatar.png', true) ?>" class="avatar" alt="" />
					</div>
<?php endif; ?>
					<form action="<?php echo Url::make('search') ?>" method="post" id="search">
						<input type="text" placeholder="<?php echo Load::word('_global', 'search') ?>" />
						<input type="hidden" name="section" id="search-section" value="" />
						<a href="#" id="search-button" class="btn c2"><?php echo Load::word('_global', 'go') ?></a>
					</form>
<?php if(!User::get('member_id')): ?>
					<a href="<?php echo Url::make('account/login') ?>" class="btn c1"><?php echo Load::word('_global', 'login') ?></a>
					<a href="<?php echo Url::make('account/signup') ?>" class="btn c1"><?php echo Load::word('_global', 'signup') ?></a>
<?php else: ?>
					<a href="<?php echo Url::make('account') ?>" id="account-button" class="btn c1"><?php echo User::get('name') ?></a>
<?php endif; ?>
				</li>
			</ul>
		</nav>
		<h1><a href="<?php echo Url::make() ?>">Pytova</a></h1>
		<div class="cb"></div>
	</section>
