<!doctype html>
<html lang="en" data-title="Pytova">
<!-- Powered by Pytova - Copyright {{year}} Michael Lat -->
<head>
	<title>Pytova{% if len(navigation) > 1 %} :: {{navigation[-1][0]}}{% end %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/png" href="{{url('static/img')}}favicon.png" />
	<link rel="stylesheet/less" href="{{url()}}static/css/lat.less">
	<script>less = {env:'development'};</script>
	<script src="{{url()}}static/js/less.js"></script>
	<!-- IE not supported!! -->
	<!--[if lt IE9]><script>alert('IE NOT SUPPORTED');window.location='https://www.firefox.com';</script><![endif]-->
</head>
<header id="header">
	{% include header.html %}
</header>
<section id="content">
	{{content}}
</section>
<script>var js={{js}},jss={{js_static}};</script>
<script src="{{url('static/js')}}jquery.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="{{url('static/js')}}init.js"></script>{% for jsf in js_files %}
<script src="{{jsf}}"></script>{% end %}
<!-- {{render}} -->